.body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family:  'Roboto', arial
}

.main-container {
    display: flex;
    flex-direction: column;
}
.container-one {
   background-color: #1F2937;
   /* display: flex;
   flex-direction: column; */
   /* align-items: center; 
   justify-content: space-between;
   padding: 8px */
}
.container-two {
    display: flex;
    margin: 32px;
    padding: 32px

}
.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style: none;
}

.main-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

a, p {
  color: #E5E7EB;
  text-decoration: none;
  font-size: 18px;
  
}
p {
 padding: 16px
}
img {
    width: 200px;
    height: 200px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    border: 1px solid royalblue;
    font-size: 18px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 32px;
}
.information {
    display: flex;
    justify-content: center;
    gap: 16px
}

.some-info {
    max-width: 200px
}

.quote-container {
  background-color: #E5E7EB;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.quote-text {
    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
    max-width: 700px;
    padding: 100px;
    text-align: center;
}
.CTA-container {
    background-color: #3882F6;
    display: flex;
    align-items: center;
  height: 200px;
  color: #FFF;
  margin: 50px 200px;
  padding: 10px 80px;
  border-radius: 5px
}

.sign-item {
    flex: 1;
}
.signs-text {
    text-align: left;
}
.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}
h3 {
    color: #fff;
    font-family: "Roboto", arial;
    padding: 0;
    margin: 30px 0px 0px 50px;

}
.CTA-button {
    border: 1px solid #FFF;
    padding: 5px 25px
}
.footer {
  background: #1F2937;
  font-family: 'Roboto', arial;
  color: #FFF;
  text-align: center;
  padding: 16px
}